/vendor
/node_modules
/.idea
/.vscode
.env
.env.backup
.env.*.local
.phpunit.result.cache
/public/build
/public/storage
/storage/*.key
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/app/private/*
!/storage/app/private/.gitignore
/storage/app/documents/*
!/storage/app/documents/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
.DS_Store
Thumbs.db
/.git_gmcodelab_backup
